.topHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.topHeader img{
  width: 135px;
}

.pointCounter{
  font-size: 22px;
  color: #ffffff;
}

.categoryQuestions{
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  color: #ffffff;
}

.categoryQuestionsItem{
  width: calc(100% / 6);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#008966;
  box-sizing: border-box;
  text-align: center;
}

.categoryQuestionsItemActive{
  background-color: #00bc8c;
}

@media(max-width: 980px){
  .categoryQuestions {
    flex-wrap: wrap;
  }

  .categoryQuestions__item {
    width: calc(100% / 3);
  }
}

@media(max-width: 580px){
  .categoryQuestions__item {
    width: calc(100% / 2);
  }
}


@media(max-width: 420px){
  .categoryQuestionsItem {
    width: 100%;
  }

  .topHeader {
    flex-direction: column;
  }
  
  .pointCounter{
    margin-top: 15px;
  }
}

