
.answerSection{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.nextLevelButton{
  width: 100%;
  margin-top: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #303030;
  font-size: 16px;
}

.nextLevelButton:focus{
  outline: none;
}

.nextLevelButtonActive{
  background-color: #00bc8c;
  border: 1px solid #00bc8c;
  cursor: pointer;
}

.nextLevelButtonActive:hover{
  background-color: #00efb2;
}

@media(max-width: 780px){
  .answerSection{
    flex-direction: column;
  }
}